:root{
    --fondo-body: #2E6275;
    --fondo-footer: black;
    --texto: white;
    --fondo-menu: #244A57;
    --btn-principal: #F17F1A;
    --btn-secundario: #00FF90;
    --btn-cancelar: #FF0000;
    --fuente: 'Questrial', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: var(--fuente)!important;
}

main{
    background-color: var(--fondo-body);
}

.banner{
    height: 200px!important;
}

@media only screen and (min-width: 576px){
    .banner{
        height: 400px!important;
    }   
}

body{
    background-color: var(--fondo-body);
    margin:0;
    padding: 0; 
}

.btn:hover {
  opacity: 1;
}

.menu{
    background-color: var(--fondo-menu);
    font-family: var(--fuente);   
}

.busqueda{
    font-family: var(--fuente)!important;
    background-color: transparent;
    border-bottom: 1px solid white!important;
    padding-bottom: 10px;
    color: white;
}
.busqueda::placeholder{
    font-family: var(--fuente)!important;
    color:white!important;
}
.busqueda:focus{
    font-family: var(--fuente)!important;
    background-color: transparent;
    color: white!important;
    border-top: 0 solid transparent!important;
    border-bottom: 1px solid white!important;
    padding-bottom: 10;
    border-color: #eee!important;
}

.naranja{
	background-color: orange;
}

a.nav-link:hover{
    color:var(--btn-secundario)!important;
}
.user{
    font-size: 3rem;
    color: var(--btn-principal);
}

img.poster{
    width: 500px!important;
    height: 400px!important;
}

img.playlist{
    width: 200px!important;
    height: 300px!important;
}

@media only screen and (min-width: 576px){
    img.playlist{
        width: 300px!important;
        height: 400px!important;
    }
}


img.recomendacion{
    width: 300px!important;
    height: 300px!important;
}

@media only screen and (min-width: 768px){
    img.recomendacion{
        width: 400px!important;
        height: 400px!important;
    }
}


.icono-login {
  padding: 5px;
  height: 30px;
  background: orange;
  color: white;
  min-width: 30px;
  text-align: center;
}

img.poster:hover{
    cursor: pointer;
}

@media only screen and (min-width:768px) and (max-width:992px){
    .container{
        max-width: 900px;
        margin: 0 auto;
    }
}

.dato-ficha{
    display: inline-block!important;
}

.boton{
    background-color: var(--btn-principal);
    font-family: var(--fuente);
    color: white;
    font-size: 1.2rem;
}

.boton-secundario{
    background-color: var(--btn-secundario)!important;
    font-family: var(--fuente);
    color:white;
    font-size: 1.2rem;
}
.star{
    color: yellow!important;
}
.enlace{
    font-family: var(--fuente);
    color: var(--btn-principal);
}
.enlace:hover{
    text-decoration: none;
    color: white!important;
}

.actor{
    width: 200px!important;
    height: 250px!important;
}

#trailer{
    width:75%;
    margin:0 auto;
  }
  
#trailer iframe{
    width:100%;
    margin:0 auto;
  }

.footer{
    background-color: var(--fondo-footer)!important;
    height: 100px;
}

.boton-enviar {
  color: #fff;
  background-color: var(--btn-principal);
  border-color: var(--btn-principal);
}

.boton-enviar:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.boton-enviar:focus, .boton-enviar.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.boton-enviar.disabled, .boton-enviar:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.boton-enviar:not(:disabled):not(.disabled):active, .boton-enviar:not(:disabled):not(.disabled).active,
.show > .boton-enviar.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.boton-enviar:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

img.perfil{
    height: 400px!important;
}